/* about.css */

.about-container {
    display: flex; /* Используем Flexbox для расположения изображения и текста */
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-x: auto; 
}

.about-image {
    width: 35vw;
    aspect-ratio: 3 / 4; /* Ширина к высоте — вертикальное изображение */
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 20px;
    border-radius: 8px;
}

.about-text {
    flex: 1; /* Занимает оставшееся пространство */
}

.about-title {
    font-size: 28px;
    margin-bottom: 15px;
    color: #2c3e50;
    text-align: left; /* Выравнивание заголовка влево */
}

.about-container p {
    font-size: 21px;
    line-height: 1.6;
    color: #34495e;
    margin-bottom: 15px;
}

.about-container ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 21px;
}

.about-container li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-image {
    width: 80vw;
    margin-right: 0;
    margin-bottom: 20px;
    aspect-ratio: auto; /* убираем фиксированное соотношение, чтобы подстраивалось */
  }

  .about-text {
    width: 100%;
  }

  .about-title {
    text-align: center;
  }
}

